<h2>Add New Book</h2>
<div *ngIf="userType == 'admin'" class="add-book-container">
    <form [formGroup]="BookForm" (ngSubmit)="OnSubmit()" class="add-book-form">
      <label for="title">Title:</label>
      <input formControlName="title" type="text" id="title" name="title" placeholder="Enter the book title" required>
  
      <label for="category">Category:</label>
      <input formControlName="catagory" type="text" id="category" name="category" placeholder="Enter the book category" required>
  
      <label for="description">Description:</label>
      <textarea formControlName="description" id="description" name="description" placeholder="Enter the book description" rows="4" required></textarea>
  
      <button type="submit">Add Book</button>
    </form>
  </div>

  <div *ngIf="userType == 'user'" class="add-book-container">
    <h3>
      You are Not Authorized to Add New Book.
    </h3>
    <br>
    <h3>
      Only Admin can Add Book
    </h3>
  </div>
  