.book-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.filter-container {
  margin: 20px;
}

.filter-container label {
  margin-right: 20px;
}

.book-card {
  background-color: #f9f9f9;
  border: 1px solid #159c52;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
  cursor: pointer;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(2, 141, 55, 0.2);
  background-color: #fff;
}

.book-card h3 {
  color: #4CAF50;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.book-card p {
  color: #333;
  font-size: 1rem;
  line-height: 1.4;
}

.radio-group {
  display: flex;
  margin-bottom: 20px;
}

.radio-group label {
  margin-right: 20px;
  font-size: 1rem;
  color: #333;
}

.radio-group input {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .book-card {
    width: 100%;
  }
}



.icon {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: center;
  transition: 0.5s;
  backdrop-filter: blur(4px);
  top: 0;
}
