<div class="filter-container">
  <h4>Filter : </h4>
  <label>
    <input type="radio" name="filter" value="all" [(ngModel)]="selectedCategory" (change)="filterBooks()"> All
  </label>
  <label>
    <input type="radio" name="filter" value="fiction" [(ngModel)]="selectedCategory" (change)="filterBooks()"> Fiction
  </label>
  <label>
    <input type="radio" name="filter" value="nonfiction" [(ngModel)]="selectedCategory" (change)="filterBooks()">
    Non-Fiction
  </label>
  <!-- Add more categories as needed -->
</div>
<div class="book-list-container">

  <div routerLink="../books/{{book.id}}" class="book-card" *ngFor="let book of filteredBooks">
    <h3>{{ book.title }}</h3>
    <p>{{ truncateDescription(book.description) }}</p>
    <p>Category: {{ book.category }}</p>
  </div>
  <div class="icon">
    <router-outlet></router-outlet>
  </div>
  <!-- <router-outlet></router-outlet> -->
</div>